In [1]:
import pandas as pd

statecols = ['STATE']
for i in range(1970, 2010, 10):
    statecols.append(('AT5AA'+str(i)))
    statecols.append(('AT5AB'+str(i)))
    for j in range(ord('A'), ord('G'), 1):
        statecols.append(('AK7A'+ chr(j) + str(i)))

# For some weird reason, the last column has 125
i = 125

statecols.append(('AT5AA'+str(i)))
statecols.append(('AT5AB'+str(i)))
for j in range(ord('A'), ord('G'), 1):
    statecols.append(('AK7A'+ chr(j) + str(i)))


print(statecols)

['STATE', 'AT5AA1970', 'AT5AB1970', 'AK7AA1970', 'AK7AB1970', 'AK7AC1970', 'AK7AD1970', 'AK7AE1970', 'AK7AF1970', 'AT5AA1980', 'AT5AB1980', 'AK7AA1980', 'AK7AB1980', 'AK7AC1980', 'AK7AD1980', 'AK7AE1980', 'AK7AF1980', 'AT5AA1990', 'AT5AB1990', 'AK7AA1990', 'AK7AB1990', 'AK7AC1990', 'AK7AD1990', 'AK7AE1990', 'AK7AF1990', 'AT5AA2000', 'AT5AB2000', 'AK7AA2000', 'AK7AB2000', 'AK7AC2000', 'AK7AD2000', 'AK7AE2000', 'AK7AF2000', 'AT5AA125', 'AT5AB125', 'AK7AA125', 'AK7AB125', 'AK7AC125', 'AK7AD125', 'AK7AE125', 'AK7AF125']

In [2]:
# -1 because AK7A125 not there
df = pd.read_csv('flaskDirectory/Dataset/nhgis0002_ts_nominal_state.csv', usecols=statecols[:-1])
df['AK7AF125'] = 0
df.columns

Index(['STATE', 'AT5AA1970', 'AT5AA1980', 'AT5AA1990', 'AT5AA2000', 'AT5AA125',
       'AT5AB1970', 'AT5AB1980', 'AT5AB1990', 'AT5AB2000', 'AT5AB125',
       'AK7AA1970', 'AK7AA1980', 'AK7AA1990', 'AK7AA2000', 'AK7AA125',
       'AK7AB1970', 'AK7AB1980', 'AK7AB1990', 'AK7AB2000', 'AK7AB125',
       'AK7AC1970', 'AK7AC1980', 'AK7AC1990', 'AK7AC2000', 'AK7AC125',
       'AK7AD1970', 'AK7AD1980', 'AK7AD1990', 'AK7AD2000', 'AK7AD125',
       'AK7AE1970', 'AK7AE1980', 'AK7AE1990', 'AK7AE2000', 'AK7AE125',
       'AK7AF1970', 'AK7AF1980', 'AK7AF1990', 'AK7AF2000', 'AK7AF125'],
      dtype='object')

In [3]:
df.drop(df.index[[0]], inplace=True)

In [4]:
df.fillna(value=0, inplace=True)

In [5]:
k = [ i for i in df['STATE'] if i.endswith('Territory')]
k.append('Puerto Rico')
k.append('Persons in the Military')

In [6]:
print(k)

['Alaska Territory', 'Arizona Territory', 'Arkansas Territory', 'Colorado Territory', 'Dakota Territory', 'Florida Territory', 'Hawaii Territory', 'Idaho Territory', 'Illinois Territory', 'Indian Territory', 'Indiana Territory', 'Iowa Territory', 'Kansas Territory', 'Louisiana Territory', 'Michigan Territory', 'Minnesota Territory', 'Mississippi Territory', 'Missouri Territory', 'Montana Territory', 'Nebraska Territory', 'Nevada Territory', 'New Mexico Territory', 'Northwest Territory', 'Oklahoma Territory', 'Oregon Territory', 'Orleans Territory', 'Southwest Territory', 'Utah Territory', 'Washington Territory', 'Wisconsin Territory', 'Wyoming Territory', 'Puerto Rico', 'Persons in the Military']

In [7]:
rm = []
for x in k:
    y = df['STATE'] == x
    for z,i in enumerate(y):
        if i:
            rm.append(z)

In [8]:
df.drop(df.index[rm], inplace=True)

In [9]:
for c in statecols[1:]:
    df[c] = pd.to_numeric(df[c])

In [10]:
Origin = ['Europe', 'Asia', 'Africa', 'Oceania', 'Americas', 'Other']
for i in range(1970, 2010, 10):
    total = df['AT5AA' + str(i)] + df['AT5AB' + str(i)]
    df['Native_Ratio_' + str(i)]  = df['AT5AA' + str(i)] / total
    df['Foreign_Ratio_' + str(i)] = df['AT5AB' + str(i)] / total
    
    for k,j in enumerate(Origin):
        df[j + '_Ratio_Total_' + str(i)]   = df['AK7A' + chr(ord('A') + k) + str(i)] / total
        df[j + '_Ratio_Foreign_' + str(i)] = df['AK7A' + chr(ord('A') + k) + str(i)] / df['AT5AB' + str(i)]
        
i = 125

total = df['AT5AA' + str(i)] + df['AT5AB' + str(i)]
df['Native_Ratio_' + str(i)]  = df['AT5AA' + str(i)] / total
df['Foreign_Ratio_' + str(i)] = df['AT5AB' + str(i)] / total

for k,j in enumerate(Origin):
    df[j + '_Ratio_Total_' + str(i)]   = df['AK7A' + chr(ord('A') + k) + str(i)] / total
    df[j + '_Ratio_Foreign_' + str(i)] = df['AK7A' + chr(ord('A') + k) + str(i)] / df['AT5AB' + str(i)]

In [11]:
df.shape

(51, 111)

In [12]:
statecols = statecols[1:]

In [13]:
df.drop(columns=statecols, inplace=True)

In [14]:
df.head()

,STATE,Native_Ratio_1970,Foreign_Ratio_1970,Europe_Ratio_Total_1970,Europe_Ratio_Foreign_1970,Asia_Ratio_Total_1970,Asia_Ratio_Foreign_1970,Africa_Ratio_Total_1970,Africa_Ratio_Foreign_1970,Oceania_Ratio_Total_1970,...,Asia_Ratio_Total_125,Asia_Ratio_Foreign_125,Africa_Ratio_Total_125,Africa_Ratio_Foreign_125,Oceania_Ratio_Total_125,Oceania_Ratio_Foreign_125,Americas_Ratio_Total_125,Americas_Ratio_Foreign_125,Other_Ratio_Total_125,Other_Ratio_Foreign_125
1,Alabama,0.995358,0.004642,0.002923,0.629722,0.000638,0.137353,0.000067,0.014448,0.000055,...,0.009437,0.270407,0.001417,0.040592,0.000140,0.004018,0.020039,0.574172,0.0,0.0
2,Alaska,0.974156,0.025844,0.012374,0.478810,0.005170,0.200052,0.000136,0.005281,0.000330,...,0.038292,0.551894,0.002680,0.038629,0.001921,0.027685,0.015055,0.216980,0.0,0.0
4,Arizona,0.956762,0.043238,0.015387,0.355870,0.002512,0.058104,0.000143,0.003304,0.000171,...,0.022755,0.167911,0.003446,0.025426,0.000587,0.004333,0.095898,0.707627,0.0,0.0
6,Arkansas,0.995691,0.004309,0.002782,0.645710,0.000684,0.158803,0.000015,0.003499,0.000048,...,0.009264,0.209192,0.000663,0.014975,0.001195,0.026977,0.029531,0.666850,0.0,0.0
8,California,0.911912,0.088088,0.034332,0.389751,0.013806,0.156736,0.000610,0.006929,0.001446,...,0.097886,0.361574,0.004153,0.015340,0.002002,0.007396,0.148816,0.549698,0.0,0.0

In [46]:
#Rename 125 to 2010
statecols = df.columns
statecols = statecols.tolist()
for i in range(1, 15):
    statecols[-1*i] = statecols[-1*i][:-3] + '2010'
print(statecols)

['STATE', 'Native_Ratio_1970', 'Foreign_Ratio_1970', 'Europe_Ratio_Total_1970', 'Europe_Ratio_Foreign_1970', 'Asia_Ratio_Total_1970', 'Asia_Ratio_Foreign_1970', 'Africa_Ratio_Total_1970', 'Africa_Ratio_Foreign_1970', 'Oceania_Ratio_Total_1970', 'Oceania_Ratio_Foreign_1970', 'Americas_Ratio_Total_1970', 'Americas_Ratio_Foreign_1970', 'Other_Ratio_Total_1970', 'Other_Ratio_Foreign_1970', 'Native_Ratio_1980', 'Foreign_Ratio_1980', 'Europe_Ratio_Total_1980', 'Europe_Ratio_Foreign_1980', 'Asia_Ratio_Total_1980', 'Asia_Ratio_Foreign_1980', 'Africa_Ratio_Total_1980', 'Africa_Ratio_Foreign_1980', 'Oceania_Ratio_Total_1980', 'Oceania_Ratio_Foreign_1980', 'Americas_Ratio_Total_1980', 'Americas_Ratio_Foreign_1980', 'Other_Ratio_Total_1980', 'Other_Ratio_Foreign_1980', 'Native_Ratio_1990', 'Foreign_Ratio_1990', 'Europe_Ratio_Total_1990', 'Europe_Ratio_Foreign_1990', 'Asia_Ratio_Total_1990', 'Asia_Ratio_Foreign_1990', 'Africa_Ratio_Total_1990', 'Africa_Ratio_Foreign_1990', 'Oceania_Ratio_Total_1990', 'Oceania_Ratio_Foreign_1990', 'Americas_Ratio_Total_1990', 'Americas_Ratio_Foreign_1990', 'Other_Ratio_Total_1990', 'Other_Ratio_Foreign_1990', 'Native_Ratio_2000', 'Foreign_Ratio_2000', 'Europe_Ratio_Total_2000', 'Europe_Ratio_Foreign_2000', 'Asia_Ratio_Total_2000', 'Asia_Ratio_Foreign_2000', 'Africa_Ratio_Total_2000', 'Africa_Ratio_Foreign_2000', 'Oceania_Ratio_Total_2000', 'Oceania_Ratio_Foreign_2000', 'Americas_Ratio_Total_2000', 'Americas_Ratio_Foreign_2000', 'Other_Ratio_Total_2000', 'Other_Ratio_Foreign_2000', 'Native_Ratio_2010', 'Foreign_Ratio_2010', 'Europe_Ratio_Total_2010', 'Europe_Ratio_Foreign_2010', 'Asia_Ratio_Total_2010', 'Asia_Ratio_Foreign_2010', 'Africa_Ratio_Total_2010', 'Africa_Ratio_Foreign_2010', 'Oceania_Ratio_Total_2010', 'Oceania_Ratio_Foreign_2010', 'Americas_Ratio_Total_2010', 'Americas_Ratio_Foreign_2010', 'Other_Ratio_Total_2010', 'Other_Ratio_Foreign_2010']

In [47]:
df.columns = statecols

In [49]:
df.to_csv('flaskDirectory/Dataset/Native_Ratio_Data.csv', index=False)