In [1]:
import pandas as pd

totalPopulationColumnNames = ['STATE']
for i in range(1820, 2020, 10):
    totalPopulationColumnNames.append(('A08AA'+str(i)))
    totalPopulationColumnNames.append(('A08AB'+str(i)))
                                      
print(totalPopulationColumnNames)

['STATE', 'A08AA1820', 'A08AB1820', 'A08AA1830', 'A08AB1830', 'A08AA1840', 'A08AB1840', 'A08AA1850', 'A08AB1850', 'A08AA1860', 'A08AB1860', 'A08AA1870', 'A08AB1870', 'A08AA1880', 'A08AB1880', 'A08AA1890', 'A08AB1890', 'A08AA1900', 'A08AB1900', 'A08AA1910', 'A08AB1910', 'A08AA1920', 'A08AB1920', 'A08AA1930', 'A08AB1930', 'A08AA1940', 'A08AB1940', 'A08AA1950', 'A08AB1950', 'A08AA1960', 'A08AB1960', 'A08AA1970', 'A08AB1970', 'A08AA1980', 'A08AB1980', 'A08AA1990', 'A08AB1990', 'A08AA2000', 'A08AB2000', 'A08AA2010', 'A08AB2010']

In [2]:
df = pd.read_csv('flaskDirectory/Dataset/nhgis0002_ts_nominal_state.csv', usecols=totalPopulationColumnNames)
df.columns

Index(['STATE', 'A08AA1820', 'A08AA1830', 'A08AA1840', 'A08AA1850',
       'A08AA1860', 'A08AA1870', 'A08AA1880', 'A08AA1890', 'A08AA1900',
       'A08AA1910', 'A08AA1920', 'A08AA1930', 'A08AA1940', 'A08AA1950',
       'A08AA1960', 'A08AA1970', 'A08AA1980', 'A08AA1990', 'A08AA2000',
       'A08AA2010', 'A08AB1820', 'A08AB1830', 'A08AB1840', 'A08AB1850',
       'A08AB1860', 'A08AB1870', 'A08AB1880', 'A08AB1890', 'A08AB1900',
       'A08AB1910', 'A08AB1920', 'A08AB1930', 'A08AB1940', 'A08AB1950',
       'A08AB1960', 'A08AB1970', 'A08AB1980', 'A08AB1990', 'A08AB2000',
       'A08AB2010'],
      dtype='object')

In [3]:
df.drop(df.index[[0]], inplace=True)

In [4]:
df.fillna(value=0, inplace=True)

In [5]:
k = [ i for i in df['STATE'] if i.endswith('Territory')]
k.append('Puerto Rico')
k.append('Persons in the Military')

In [6]:
print(k)

['Alaska Territory', 'Arizona Territory', 'Arkansas Territory', 'Colorado Territory', 'Dakota Territory', 'Florida Territory', 'Hawaii Territory', 'Idaho Territory', 'Illinois Territory', 'Indian Territory', 'Indiana Territory', 'Iowa Territory', 'Kansas Territory', 'Louisiana Territory', 'Michigan Territory', 'Minnesota Territory', 'Mississippi Territory', 'Missouri Territory', 'Montana Territory', 'Nebraska Territory', 'Nevada Territory', 'New Mexico Territory', 'Northwest Territory', 'Oklahoma Territory', 'Oregon Territory', 'Orleans Territory', 'Southwest Territory', 'Utah Territory', 'Washington Territory', 'Wisconsin Territory', 'Wyoming Territory', 'Puerto Rico', 'Persons in the Military']

In [7]:
rm = []
for x in k:
    y = df['STATE'] == x
    for z,i in enumerate(y):
        if i:
            rm.append(z)

In [8]:
df.drop(df.index[rm], inplace=True)

In [16]:
for c in totalPopulationColumnNames[1:]:
    df[c] = pd.to_numeric(df[c])

In [34]:
for i in range(1820, 2020, 10):
    male, female = 'A08AA'+str(i), 'A08AB'+str(i)
    df['Male_Ratio_'+ str(i)]   =   df[male]/(df[male] + df[female])
    df['Female_Ratio_'+ str(i)] = df[female]/(df[male] + df[female])

In [35]:
df.shape

(51, 81)

In [38]:
male, female

('A08AA2010', 'A08AB2010')

In [ ]:
totalPopulationColumnNames = totalPopulationColumnNames[1:]

In [50]:
df.drop(columns=totalPopulationColumnNames, inplace=True)

In [51]:
df.head()

,STATE,Male_Ratio_1820,Female_Ratio_1820,Male_Ratio_1830,Female_Ratio_1830,Male_Ratio_1840,Female_Ratio_1840,Male_Ratio_1850,Female_Ratio_1850,Male_Ratio_1860,...,Male_Ratio_1970,Female_Ratio_1970,Male_Ratio_1980,Female_Ratio_1980,Male_Ratio_1990,Female_Ratio_1990,Male_Ratio_2000,Female_Ratio_2000,Male_Ratio_2010,Female_Ratio_2010
1,Alabama,0.531169,0.468831,0.519696,0.480304,0.516426,0.483574,0.508465,0.491535,0.507457,...,0.482538,0.517462,0.480634,0.519366,0.479178,0.520822,0.482675,0.517325,0.485422,0.514578
2,Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.543501,0.456499,0.530149,0.469851,0.526990,0.473010,0.516981,0.483019,0.520433,0.479567
4,Arizona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.491844,0.508156,0.492213,0.507787,0.494019,0.505981,0.499170,0.500830,0.496842,0.503158
6,Arkansas,NaN,NaN,NaN,NaN,0.538853,0.461147,0.523333,0.476667,0.523015,...,0.484746,0.515254,0.483149,0.516851,0.482011,0.517989,0.488028,0.511972,0.490973,0.509027
8,California,NaN,NaN,NaN,NaN,NaN,NaN,0.924220,0.075780,0.719319,...,0.491987,0.508013,0.492924,0.507076,0.500592,0.499408,0.498201,0.501799,0.497070,0.502930

In [52]:
df.to_csv('flaskDirectory/Dataset/Sex_Ratio_Data.csv', index=False)